#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.contentContainer {
  display: flex;
  flex-direction: row;
}
.albumContainer {
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
details {
  border-bottom: 1px solid #aaa;
  padding: 0.5em 1em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 1em;
  list-style: none;
}
summary::after {
  content: "+";
  font-size: 1.2em;
  margin-left: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
  background-color: #303030;
}
details[open] summary::after {
  content: "-";
}

details > summary::-webkit-details-marker {
  display: none; /* for safari */
}
details > summary::marker {
  display: none; /* for firefox */
}